*{
    margin: 0;
    padding: 0;
}

li {list-style-type:none;}
body{
    background-color: #eef6fb;
}
#main{
    width: 1360;
    margin: 0 auto;
}
.top,.mid,.footbar{
    width: 1360px;
}
.center,.proCenter{
    margin: 80px 0;
}
.mid{
    height: 200px;
}
.topImg{
    width: 1360px;
    height: 70px;
}
.topBar li{
    display: inline-block;
    margin: 0px 10px;
    border-radius: 7px;
    padding: 3px 10px;
    margin: 2px 0px;
}
.invegator{
    display: flex;
    justify-content: space-between;
    background-color: #6286a0;
    padding: 10px 25px;
}
.mid,.carousel1 img{
    width: 1360px;
    height: 330px;
    
}
.cicle div{
    width: 8px;
    height: 8px;
    border: 4px solid rgb(117, 157, 186);
    border-radius: 50%;
    margin: 5px;
  
}
.cicle{
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;   
}

.proImg img{
    width: 320px;
    height: 160px;
}
.center{
    width: 960px;
    margin: 30px auto;
}
.text{
    display: flex;
    justify-content: space-between;
    color: rgb(8, 123, 193);
}
.proImg{
    position: relative;
    display: flex;
    justify-content: center;
}
.knowMoretext{
    width: 960px;
    margin: 0 auto;
    position: relative;
    
}
.proCenterImg img,.proCenterleft{
    width: 770px;
}
.text1{
    color: rgb(8, 123, 193);
    display: flex;
    justify-content: space-between;
}
.probar li{
background-color: rgb(221, 218, 218);
height: 38.2px;
width: 195px;

text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}
.proCenter{
    display: flex;
    justify-content: center;
}
.proCenterRight{
    margin: 25px 0 0 0;
    background-color: rgb(255, 255, 255);
}
.copyright{
    background-color: rgb(215, 228, 238);
    display: flex;
    justify-content: center;
    height: 160px;
    padding-top: 60px;
}
.contact {
    margin-left: 60px;
}
.contact p{
    height: 30px;
}
.copyright img{
    height: 40px;
}
#foot{
    width: 1360px;
    height: 40px;
    background-color: rgb(98, 134, 160);
}