*{
    margin: 0;
    padding: 0;
}
.top{
    position:fixed;
    top: 0;
    z-index: 100;
}
li {list-style-type:none;}
body{
    background-color: #eef6fb;
}
#main{
    width: 1360;
    margin: 0 auto;
}
.top,.mid,.footbar{
    width: 1360px;
}
.center,.proCenter{
    margin: 80px 0;
}
.part{
    margin-top: 110px;
}
.propart{
    margin-top: 140px;
}
.mid{
    height: 200px;
}
.topImg{
    width: 1360px;
    height: 80px;
}
.topBar li{
    font-weight: 800;
    display: inline-block;
    margin: 0px 10px;
    border-radius: 7px;
    padding: 3px 10px;
    margin: 2px 0px;
    text-align: center;
    color: white;
}
.topBar li:hover{
    background-color: rgb(47,90,155);
    width: 100px;
}
#tobarli{
    background-color: rgb(47,90,155);
    width: 100px;
}
.invegator{
    height: 30px;
    display: flex;
    justify-content: space-between;
    background-color: #6286a0;
    padding: 3px 25px;
}
.mid,.carousel1 img{
    width: 1360px;
    height: 330px;
    
}
.cicle div{
    width: 8px;
    height: 8px;
    border: 4px solid rgb(117, 157, 186);
    border-radius: 50%;
    margin: 5px;
  
}
.cicle{
    display: flex;
    justify-content: center;
    position: relative;
    top: -30px;   
}

.proImg img{
    width: 320px;
    height: 160px;
}
.center{
    width: 960px;
    margin: 40px auto;
}
.text{
    display: flex;
    justify-content: space-between;
    color: rgb(8, 123, 193);
}
.proImg{
    position: relative;
    display: flex;
    justify-content: center;
}
.knowMoretext{
    width: 960px;
    margin: 0 auto;
    position: relative;
    
}
.proCenter{
    width: 965px;
    margin: 80px auto;
}
#procenterdown{
    display: flex;
    width: 965px;
    margin: 0 auto;
}
.proCenterImg img{
    width: 770px;
    height: 380px;
}
.text1{
    width: 770px;
    color: rgb(8, 123, 193);
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -20px;
}

.probar li{
background-color: rgb(221, 218, 218);
height: 38px;
width: 195px;

text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}


.copyright{
    background-color: rgb(215, 228, 238);
    display: flex;
    justify-content: center;
    height: 160px;
    padding-top: 60px;
}
.contact {
    margin-left: 60px;
}
.contact p{
    height: 30px;
}
.copyright img{
    height: 40px;
}
#foot{
    width: 1360px;
    height: 40px;
    background-color: rgb(98, 134, 160);
}
/* 关于我们*/

#head,#proshead{
    width: 1080px;
    margin: 0 auto 60px auto;
}
#head img{
    width: 1080px;
    margin: 25px auto 15px auto;
    }
#head div{
        width: 1065px;
        height: 70px;
        background-color: rgb(215, 228, 237);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: rgb(37, 83, 149) 5px solid;
        color: rgb(37, 83, 149);
        padding-left: 10px;
    }
#aboutustext{
    width: 1080px;
    margin: 0 auto 80px auto;
}
#aboutustext p{
    text-indent:30px;
    line-height: 25px;
}
#aboutustext img{
    width: 400px;
    float: right;
    margin: 0 0 30px 30px;
}
/* 产品中心*/
#promenu{
    width: 1080px;
    margin: 0 auto 80px auto;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
#promenu img{
    width: 500px;
    height: 320px;
    margin: 25px 0;
}

/* 企业动态*/
#moreus{
    width: 1080px;
    margin: 0 auto 40px auto;
}
#moreus img{
    width: 1080px;
}
#yeji img{
    width: 540px;
}
#yeji{
    display: flex;
}
/* propart*/
#proshead .bar{
        width: 1065px;
        height: 70px;
        background-color: rgb(215, 228, 237);
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: rgb(37, 83, 149) 5px solid;
        color: rgb(37, 83, 149);
        padding-left: 10px;
        margin-top: 30px;
    }
.prosHC{
    margin: 20px 0;
    width: 1080px;
    display: flex;
    justify-content: space-between;
}
.prosHC img{
    width: 835px;
}
.prosHC ul{
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prosHC li:hover{
    background-color: rgb(47, 90, 155);
}
.prosHC li{
    width: 215px;
    text-align: center;
    background-color: rgb(215, 228, 238);
    border-radius: 10px;
    height: 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.proscontent{
    width: 1080px;
    margin: 5px auto;
}
.contenttitle{
width: 1080px;
height: 25px;
margin: 5px auto;
display: flex;
flex-direction: column;
justify-content: center;
background-color: rgb(233, 233, 233);
}